#container{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}
#container div{
    width: calc(100%/16);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

.coloredBox{
    background-color: black;
}

.userInput{
    background-color: aquamarine;
    border: none;
    border-radius: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}